.start{
    height: 125px;
    width: 125px;
    opacity: 0.5;
}

.walk{
    height: 350px;
    width: 350px;
    opacity: 1;
    
}
body{
    background-color: RGB(252, 246, 246);
}
.flip{
    
      -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
