.start{
    height: 125px;
    width: 125px;
    opacity: 0.5;
}

.walk{
    height: 150px;
    width: 150px;
    opacity: 1;
    
}
body{
    background-color: RGB(252, 246, 246);
}
.flip{
    
      -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    
}
div{
    display: flex;
    align-items: center;
}
